<!--Existing comments for this place-->
<div>
  <h1 class="d-flex justify-content-center">Comments on <%= placeDetail[0].name %>: </h1>
    <div class="d-flex justify-content-center">
      <div class="card m-2 p-3 bg-dark text-light">
        <h3 class="card-title">Place Name: <%= placeDetail[0].name %> </h3>
        <h4 class="card-subtitle mb-2 text-muted">Category: <%= placeDetail[0].category %> </h4>
        <h4>Location: <%= placeDetail[0].placeName %> </h4>
        <h4>Review: <%= placeDetail[0].review %> </h4>
      </div>
    </div>

  <div class="d-flex justify-content-center mt-1">
    <div class="card border-light">
      <h6>Existing Comments for this Place: </h6>
        <p> 
          <% placeDetail[0].comments.forEach(comment => { %>
            <h4> <%= comment.name %> said: </h4>    
            <p> <%= comment.comment %> </p>
          <% }) %> 
        </p>
    </div>
  </div>
  
  <div class="d-flex justify-content-center">
    <div class="my-3">
      <h4>Add a new comment</h3>
      <form method="POST" action="/comment/<%= placeDetail[0].id %>" >
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control">
        <label for="comment" class="form-label">Comment:</label>
        <input type="text" name="comment" class="form-control">
        <input class="btn btn-primary mt-3" type="submit">
      </form>
    </div>
  </div>
</div>

