<h1>Comments on <%= placeDetail[0].name %>: </h1>

<h3>Place Name: <%= placeDetail[0].name %> </h3>
<h4>Category: <%= placeDetail[0].category %> </h4>
<h4>Location: <%= placeDetail[0].placeName %> </h4>
<h4>Review: <%= placeDetail[0].review %> </h4>

<h4>Add a new comment</h3>
<form method="POST" action="/comment/place/<%= placeDetail[0].id %>" >
  <label for="name">Your Name</label>
  <input type="text" name="name">
  <label for="comment">Comment:</label>
  <input type="text" name="comment">
  <input type="submit">
</form>