<!--Edit Review Page-->
<div class="d-flex justify-content-center mt-5">
    <div class="card m-2 p-3 bg-dark border-light text-light">
        <h1>Let's edit the review for <em><%= placeToEdit[0].name %></em>: </h1>
        <h4>This is your current review:</h4>
        <h5 class="card-title"> <%= placeToEdit[0].review %> </h5>
    </div>
</div>

<div class="container mt-5">
    <form action="/profile/edit/<%= placeToEdit[0].id %>/?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="placeReview" class="form-label">Edit: </label>
            <input type="text" class="form-control" name="review" value="<%= placeToEdit[0].review %>">
            <input type="submit" class="btn btn-primary mt-3" value="Update <%= placeToEdit[0].name %> Review">
        </div>
    </form>
</div>