<h1>This is where the map and button will go</h1>

<!-- <%- mapboxgl.accessToken = 'pk.eyJ1IjoicGxhY2VzLWFwcCIsImEiOiJja3Z2NWFrc3MzeW1vMm9tdGJtM3BlcjVqIn0.1z5SvQW8vrbUnxRBelWG1Q' %>

<%- let userLong = '' %>
<%- let userLat = '' %>

<%- document.addEventListener('DOMContentLoaded', () => { %>
    <%- navigator.geolocation.getCurrentPosition(position => { %>
    <%-   let userLong = position.coords.longitude %>
    <%-   let userLat = position.coords.latitude %>
    <%-   let userLocation = [userLong, userLat] %>

    <%-    const map = new mapboxgl.Map({ %>
    <%-    container: 'map', %>
    <%-    style: 'mapbox://styles/mapbox/streets-v11',  %>
    <%-    center: userLocation, %>
    <%-    zoom: 16%>
    <%-    }) %>
    <%- }) %>
<%- }) %> -->

<div id='map' style='width: 400px; height: 300px;'>sdaf</div>
