
<h2><%= userName %>'s Profile</h2>

<h2>Here's a list of your saved places!</h3>

<% foundData.forEach((item) => { %>
    <h3>Place Name: <a href="/comment/<%= item.id %>"> <%= item.name %> </a> </h3>
    <h4>Category: <%= item.category %> </h4>
    <h4>Review: <%= item.review %> </h4>
    <p> <small> <%= item.createdAt %> </small> </p>
    <p> <small> <%= item.placeName%> </small> </p>
    <a href="/comment/<%= item.id %>"><button>Comment</button></a>
    <form action="/profile/<%= item.id %>/?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    <form action="/edit/<%= item.id %>/?_method=PUT" method="POST">
        <label for="placeReview">Edit: </label>
        <input type="text" id="placeReview" name="review" value="<%= item.review %>">
        <input type="submit" value="Update your Place Review">
    </form>
<% }) %>




