
<link rel="stylesheet" href="/static/css/style.css">

<h2 class="indexHeading">Here's a list of your saved places!</h3>


<% foundData.forEach((item) => { %>
    <div class="savedPlaceContainer">
    <h3>Place Name: <a href="/comment/<%= item.id %>"> <%= item.name %> </a> </h3>
    <h4>Category: <%= item.category %> </h4>
    <h4>Review: <%= item.review %> </h4>
    <p> <small> <%= item.createdAt %> </small> </p>
    <p> <small> <%= item.placeName%> </small> </p>
    <div class="addPlaceBtnContainer">
    <a class="profileButtons" href="/comment/<%= item.id %>"><button>Comment</button></a>
    <a class="profileButtons" href="/profile/edit/<%= item.id %>"><button>Edit</button></a>
    <form class="profileButtons" action="/profile/<%= item.id %>/?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    </div>
    </div>    
<% }) %>




